
{% extends 'common.html' %}

{% block right_column %}
    <div class="h_title">
        <div class="left_title"><h1>Title</h1><span></span></div>
        <div class="right_title"><span></span></div>
        <div class="cleaner"><!--Cleaner--></div>
    </div>
    <div class="h_dotted"></div> <!-- 分割线 -->
{#    <div class="welcome"></div>#}
    <div>
        <div class="entry_image">
            <div class="welcome"></div>
        </div>

    </div>
    <div class="h_dotted"></div>

    <blockquote><p>最困难的事情就是认识自己。</p></blockquote>
{% endblock %}
